
<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/">FCIH</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="navbar-toggler-icon "></span></a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="/">Home</a>
          <a class="dropdown-item" routerLink="/student_edit">Add Student</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
