<div class="container">
  <h4 class="header text-center">Add/Edit Student</h4>
  <div class="row">
    <div class="col-md-6">
      <form #f="ngForm" (ngSubmit)="save(f.value)">
        <div class="form-group">
          <label for="name">Name</label>
          <input #name="ngModel" [(ngModel)]="student.name" name="name" id="name" type="text" maxlength="50" class="form-control" required>
          <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
              Name is required.
          </div>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input #phone="ngModel" [(ngModel)]="student.phone" name="phone" id="phone" pattern="(01)[0-2]{1}[0-9]{8}" type="text" class="form-control" required>
            <div class="alert alert-danger" *ngIf="phone.touched && phone.invalid">
                Valid Phone Number is required.
            </div>
        </div>
        <div class="form-group">
          <label for="faculty">Faculty</label>
          <select #faculty="ngModel" required [(ngModel)]="student.faculty" name="faculty" id="faculty" class="form-control">
            <option value=""></option>
            <option *ngFor="let f of facultys$ |async" [value]="f.key">{{ f.key }}</option>
          </select>
          <div class="alert alert-danger" *ngIf="faculty.touched && faculty.invalid">
              Faculty is required.
          </div>
        </div>
        <div class="form-group">
          <label for="dateOfBirth">Date Of Birth</label>
          <input #dateOfBirth="ngModel" [(ngModel)]="student.dateOfBirth" name="dateOfBirth" id="dateOfBirth" type="date" class="form-control" required>
          <div class="alert alert-danger" *ngIf="dateOfBirth.touched && dateOfBirth.invalid">
              Date Of Birth is required.
          </div>
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input [(ngModel)]="student.address" name="address" id="address" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="imageUrl">Image URL</label>
          <input #imageUrl="ngModel" required [(ngModel)]="student.imageUrl" name="imageUrl" id="imageUrl" type="text" class="form-control" url>
          <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
              <div *ngIf="imageUrl.errors.required">Image URL is required.</div>
              <div *ngIf="imageUrl.errors.url">Please enter a valid URL.</div>
          </div>
        </div>
        <button routerLink="/" type="button" class="btn btn-danger">Back</button>
        <button class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>